@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #77BEF0;
  --accent-gold: #FFCB61;
  --accent-orange: #FF894F;
  --accent-coral: #EA5B6F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --color-light-blue: var(--light-blue);
  --color-light-coral: var(--light-coral);
  --color-soft-pink: var(--soft-pink);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
